# Flutter
build/
.dart_tool/
.packages
.pub-cache/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Django
backend/__pycache__/
backend/db.sqlite3
backend/env/
backend/.env
backend/.venv/
backend/.mypy_cache/
backend/staticfiles/

# Flutter環境変数
frontend/.env

# 共通
.env
*.env
venv/
.idea/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.DS_Store
*.swp
*.swo

